
body {background-color:powderblue; font-family: 'Assistant', sans-serif;}
.purple {background-color:#9970EC;}
#Title {font-family: 'Libre Barcode 128 Text', cursive; font-size: 60px;}
.headings {font-weight: bold; font-size:18px;}
.ArielViewSongs {font-size: 12px;}
